*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #2A2A2B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*header Styles*/

header{

    background-color: #F041CF;
    color: #072066;


    display: flex;
    flex-wrap: wrap;

    padding: 0;
    justify-content: space-between;
   
}


header h1{

    font-weight: bold;
    font-style:italic;
    font-size: 36px;
    color: #dcdde3;
    background-color: #643DD9;
    padding: 20px 15px 20px 15px;

}

header a{

    text-decoration: none;
    color: #072066;
}

header nav{
    margin:auto;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items:center;

    list-style: none;
}

header nav ul li a{

    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    margin: auto;

}

/*Footer Styling*/

/*End Footer Styling*/



/*hero section*/

.hero{
    background-image: url(../Images/alessandro-venturi-CHrlgUbvb7Q-unsplash.jpg);
    background-size: cover;
    background-position: 0px -100px;


    height: 80vh;

    

}

.hero h2{
    justify-content: center;
    text-align: center;
    padding: 20px;

}


/*Section Styling Begins*/

.about-me, .apps, .contact-me{
    display: flex;
}

.section-title{
    font-size: 48px;
    color:#2A2A2B;
    border-right:#072066 5px solid;
    text-align: left;
    margin: 10px auto 35px auto;
    width: 30%;
    float: left;

}

.section-content{
    padding: auto;
    width: 70%;
}

