*{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #2A2A2B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*header Styles*/

header{

    background-color: #F041CF;
    color: #072066;


    display: flex;
    flex-wrap: wrap;

    padding: 0;
   
}


header h1{

    flex: 0 0 33%;
    font-weight: bold;
    font-style:italic;
    font-size: 2.5vw;
    color: #dcdde3;
    background-color: #643DD9;
    padding: 20px 15px 20px 15px;
    text-align:center;

}

header a{

    text-decoration: none;
    color: #072066;
}

header nav{
    display:flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: center;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items:center;

    list-style: none;
}

header nav ul li a{

    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.0vw;
    margin: auto;

}

/*Footer Styling*/

/*End Footer Styling*/



/*hero section*/

.hero{
    background-image: url(../Images/alessandro-venturi-CHrlgUbvb7Q-unsplash.jpg);
    background-size: cover;
    background-position: 0px -100px;


    height: 80vh;

    font-size: 1.5vw;

}

.hero h2{
    justify-content: center;
    text-align: center;
    padding: 20px;

}


/*Section Styling Begins*/

.about-me, .apps, .contact-me{
    display: flex;
}

.section-title{
    font-size: 36px;
    color:#2A2A2B;
    border-right:#072066 5px solid;
    text-align: left;
    margin: 10px auto 35px auto;
    width: 30%;
    float: left;
    padding: 30px;

}

.section-content{
    padding: auto;
    width: 70%;
    display: flex;
    align-content:center;
    flex-wrap: wrap;
    font-size:20px;
}




/*app styling*/

.apps .section-content{
    display:flex;
    justify-content:space-around;
}


.section-title .apps{
    font-size: 52px;
}
.section-content .app{
    width:48%;
    margin:1%;
}

.first{
    width: 98% !important;
    margin:1%;
}

.section-content a img{
    width: 100%;
}


/*contact me styling*/

.contact-me{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
.contact-info div{
    text-decoration: none;
    list-style: none;

    display: flex;
    justify-content: space-around;


}
.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.contact-info div{
    width: 50%;
}



.contact-me ul li{
    justify-content:space-between;
}

/* profile pic styling*/
.profile-pic img{
    width: 45%;
    padding:10px;
   float:left;
   
}

.profile-pic{
    padding: 10px;
}

